﻿@using BitTrade.Common.Models
@using BitTrade.Common.Helpers

@model IEnumerable<ConversationModel>

@{
    ViewBag.Title = "Messages";
    var id = ClaimHelper.GetClaim("ID");
}

<link href="~/Content/Styles/Messenger.css" rel="stylesheet" />
<script src="~/Scripts/Messages.js" rel=""></script>

<script>
    let _messagesPartialURL = "@Url.Action("MessagesPartial", "Home")";
    let _messageURL = "@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Message" })";
</script>

<div class="container bootstrap snippets bootdey" style="margin-top: 20px;">
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="col-md-3 bg-transparent">
                <div class="row padding-sm friends" style="height: 40px;">
                    <h1>Friends</h1>
                    <div>
                        <ul class="friend-list div-scroll-friend">

                            @foreach (var conversation in Model)
                            {
                                <li class="active bounceInDown">
                                    <div class="friend-prof" data-id="@conversation.User.ID" isSelected="@conversation.IsSelected.ToString()" >
                                        <div class="friend-name">
                                            <a href="@Url.Action("UserProfile", "Home", new { id = conversation.User.ID })" class="text-white profile-link">
                                                <img src="https://bootdey.com/img/Content/user_1.jpg" alt="pic" class="img-circle">
                                                @conversation.User.FullName
                                            </a>
                                        </div>
                                        <div class="last-message text-muted">
                                            <span class="text-white">@(conversation.LastMessage.FromUserID.ToString() == id ? "Դուք" : "Նա") :</span>
                                            @conversation.LastMessage.Text
                                        </div>

                                        <small class="time text-muted">@MessageTimeHelper.FormatTimeDifference(conversation.LastMessage.DateSent)</small>
                                        <small class="chat-alert label label-danger">*</small>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9 bg-transparent">
                <div class="chat-container chat-default">
                    <ul class="chat div-scroll-chat">
                        Tap On Conversation to countinoue ... 
                    </ul>
                </div>
                <div class="chat-input">
                    <div class="input-group">
                        <input id="message-text" class="form-control border no-shadow no-rounded" placeholder="Type your message here">
                        <span class="input-group-btn">
                            <button id="send-button" class="btn btn-success no-rounded" type="button">Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>