﻿@using BitTrade.Common.Models

@model IEnumerable<ConversationModel>

@{
    ViewBag.Title = "Messages";
}

<link href="~/Content/Styles/Messenger.css" rel="stylesheet" />
<script src="~/Scripts/Messages.js" rel=""></script>

<script>
    let _messagesPartialURL = "@Url.Action("MessagesPartial", "Home")";
    let _messageURL = "@Url.RouteUrl("DefaultApi", new { httproute = "", controller = "Message" })";
</script>

<div class="container bootstrap snippets bootdey" style="margin-top: 20px;">
    <div class="container bootstrap snippets bootdey">
        <div class="row">
            <div class="col-md-3 bg-transparent">
                <div class="row padding-sm Friends" style="height: 40px;">
                    <h1>Friends</h1>
                    <div>
                        <ul class="friend-list div-scroll-friend">

                            @foreach (var conversation in Model)
                            {
                                <li class="active bounceInDown">
                                    <div data-id="@conversation.User.ID">
                                        <div class="friend-name">
                                            <a href="@Url.Action("UserProfile", "Home", new { id = conversation.User.ID })" class="text-white">
                                                <img src="https://bootdey.com/img/Content/user_1.jpg" alt="" class="img-circle">
                                                @conversation.User.FullName
                                            </a>
                                        </div>
                                        <div class="last-message text-muted">@conversation.LastMessage.Text</div>

                                        <small class="time text-muted">@((DateTime.Now - conversation.LastMessage.DateSent).Minutes) minutes ago  </small>
                                        <small class="chat-alert label label-danger">0</small>
                                    </div>
                                </li>
                            }

                        </ul>
                    </div>
                </div>
            </div>

            <div class="col-md-9 bg-transparent">
                <div class="chat-container">
                    <ul class="chat div-scroll-chat">
                    </ul>
                </div>
                <div class="chat-input">
                    <div class="input-group">
                        <input id="message-text" class="form-control border no-shadow no-rounded" placeholder="Type your message here">
                        <span class="input-group-btn">
                            <button id="send-button" class="btn btn-success no-rounded" type="button">Send</button>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>